<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>experience kerala</title>
    
  </head>
  <body style="background-color: rgb(196, 148, 59);">
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="https://www.keralatourism.org/images/kt/kerala-tourism-title.png?d=18122017" width="auto" height="80px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Experience_kerala" style="color: brown;"><b>EXPERINCE KERALA</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Plan_your_trip" style="color: blue;"><b>PLAN YOUR TRIP</b></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  style="color:rgb(105, 7, 105)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <b>DROPDOWN</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: rgb(212, 205, 136);">
                  <li><a class="dropdown-item" href="/Where_to_go" style="color: black;"><b>WHERE TO GO</b></a></li>
                  <li><a class="dropdown-item" href="/Where_to_stay" style="color: red;"><b>WHERE TO STAY</b></a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/" style="color: green;"><b>E BROCHURES</b></a></li>
                  <li><a class="dropdown-item" href="/E_Newsletter" style="color: green;"><b>E NEWSLETTER</b></a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Things_to_do" style="color: rgb(153, 82, 153);"><b>THINGS TO DO</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/About" style="color: rgb(153, 82, 153);"><b>ABOUT KERALA</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Festivals" style="color: rgb(153, 82, 153);"><b>FESTIVALS</b></a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.keralatourism.org/images/destination/large/bolgatty_palace20200114092434_180_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/bolghatty_island20131107115214_180_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/kollam20140624115041_587_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/haritha_bio_park20230121062107_675_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/bekal20131119173955_259_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/munnar20131111113428_202_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/kovalam20131031105847_236_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/muzhappilangad_beach20131031111324_85_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/periyar_tiger_reserve_thekkady20131106141847_192_4.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/fort_kochi20131031104449_422_1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/destination/large/munnar20131031131946_202_2.jpg" class="d-block w-100" alt="...">
          </div>
          
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><br>
      <h1 style="color: rgb(197, 30, 30);font-size: 50px;font-weight: 600;padding-left: 35%;font-family: Arial, Helvetica, sans-serif;"><b>E BROCHURES</b></h1>
     <br> 
      <nav aria-label="breadcrumb" style="margin-left: 2%;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#"><b>Home</b></a></li>
          <li class="breadcrumb-item"><a href="#"><b>Media Room</b></a></li>
          <li class="breadcrumb-item active" aria-current="page"><b>E-brochures</b></li>
        </ol>
      </nav>
      <br>
      <h3 style="color: rgb(24, 11, 1); font-size: 25px;font-weight: 400;padding-left: 10%;">Virtual Travel Assistant</h3><br>
      <p style="padding-left: 1%;font-size: 25px;font-weight: 400;color: beige;">The E-Brochures are part of the Virtual Travel Assistant project of Kerala Tourism. The travel assistants are a handy tool for tourists to plan their vacation in Kerala. Tourists can access the travel assistants by either scanning the QR code placed at select destinations and properties or exploring the E-Brochures here.</p>
      
      <div class="container px-4">
        <div class="row gx-5">
          <div class="col">
           <div class="p-3 border bg-warning">
            <h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >Thrissur Where Colours Craft Stories</h2>
            <a href="https://www.keralatourism.org/ebrochures/thrissur-colors-craft-stories/63#:~:text=Thrissur%20%2D%20Where%20colours%20craft%20stories,-Thrissur%20in%20its&text=Today%2C%20the%20district%20thrives%20as,where%20leading%20entrepreneurs%20hail%20from.kmigjw"><img src="https://www.keralatourism.org/images/ebooks/images/thrissur-thumb.jpg" height="170px" width="160px" style="margin-top: 8%;"></a>
            <p style="padding-left:35% ;font-size: 18px;color: black;font-weight: 300;padding-top: -20%;">Thrissur in its current layout, is centered around Vadakkumnathan Temple and the Thekkinkad ground around which the rest of the city took shape under Shakthan Thampuran. Today, the district thrives as the cultural capital of Kerala and is also increasingly becoming a place where leading entrepreneurs hail from. Find out the places to visit, things to do, and the specialties of Thrissur!</p>
            <a class="btn btn-lg btn-success" href="https://www.keralatourism.org/images/ebooks/pdf/thrissur_ebrochure.pdf" target="_blank"  style="margin-left: 10%;" >Download</a>
            <a class="btn btn-success btn-lg" href="https://www.keralatourism.org/ebrochures/thrissur-colors-craft-stories/63/4" target="_blank">View</a>
          </div>
          </div>
          <div class="col">
            <div class="p-3 border bg-warning">
              <h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >Lands of majestic Treats</h2>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/trivandrum_kollam_ebrochure.pdf"><img src="https://www.keralatourism.org/images/ebooks/images/trivandrum%20kollam%20(1).jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Explore the tourist destinations and things to do in Kollam and Thiruvananthapuram. Check out the e-brochure and start planning your next trip to South Kerala.</p>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/trivandrum_kollam_ebrochure.pdf" style="margin-left: 10%;" class="btn btn-lg btn-primary" target="_blank" >Download</a>
              <a href="https://www.keralatourism.org/ebrochures/trivandrum-kollam-ebrochure/62/4" class="btn btn-primary btn-lg" target="_blank" >View</a>
            </div>
          </div>
        </div>
      </div><br>

      <div class="container overflow-hidden">
        <div class="row gy-5">
          <div class="col-6">
            <div class="p-3 border bg-warning">
              <h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >Onam- A celebration of the Quintessential Richness of Kerala</h2>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/onam_ebrochure_hq2.pdf"><img src="https://www.keralatourism.org/images/ebooks/images/onam%20_cover%20image3.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">The beautiful sunsets and the aroma of flavourful local delicacies have attracted people from every part of the world to Kozhikode city which is rich in heritage and culture and yet has welcomed the modern times with great enthusiasm.</p>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/onam_ebrochure_hq2.pdf" style="margin-left: 10%;" class="btn btn-lg btn-danger" target="_blank" >Download</a>
              <a href="https://www.keralatourism.org/ebrochures/onam-e-brochure/61/4" class="btn btn-danger btn-lg" target="_blank">View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning">
              <h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >Kozhikode, Hospitality at its Finest</h2>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/kozhikode_hq.pdf"><img src="https://www.keralatourism.org/images/ebooks/images/kozhikode%20_cover%20image.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Explore the tourist destinations and things to do in Kollam and Thiruvananthapuram. Check out the e-brochure and start planning your next trip to South Kerala.</p>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/kozhikode_hq.pdf" style="margin-left: 10%;" class="btn btn-lg btn-secondary" target="_blank">Download</a>
              <a href="https://www.keralatourism.org/ebrochures/kozhikode-hospitality-at-its-finest/60/4" class="btn btn-secondary btn-lg" target="_blank">View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning">
              <h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >Munnar mesmerisingly Yours</h2>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/munnar_highres.pdf"><img src="https://www.keralatourism.org/images/ebooks/images/munnar-thumb.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Picturesque Munnar town is spread in a blanket of green around a hill station, at an altitude of 6,000 ft. in the district of Idukki.</p>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/munnar_highres.pdf" style="margin-left: 10%;" class="btn btn-lg btn-info" target="_blank" >Download</a>
              <a href="https://www.keralatourism.org/ebrochures/munnar-mesmerisingly-yours/59/4" class="btn btn-info btn-lg" target="_blank">View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >Go Camping in Kerala</h2>
              <a href="https://www.keralatourism.org/camping-in-kerala"><img src="https://www.keralatourism.org/images/ebooks/images/cover-2.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Kerala provides some of the finest camping facilities in the world for travellers who come seeking memorable experiences.</p>
              <a href="https://www.keralabackwater.com/blog/camping-places-kerala/" style="margin-left: 10%;" class="btn btn-lg btn-light" target="_blank" >Download</a>
              <a href="https://www.keralatourism.org/camping-in-kerala" class="btn btn-light btn-lg" target="_blank" >View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >A Catalogue of Festivities</h2>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/festivalcalendarebrochure.pdf"><img src="https://www.keralatourism.org/images/ebooks/images/fetival-calendar-ebrochure-thumb.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Find a brief account of the important festivals celebrated in Kerala along with the location, dates, and the point of contact associated with the festivals and the religious centres here.</p>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/festivalcalendarebrochure.pdf" style="margin-left: 10%;" class="btn btn-lg btn-outline-dark" target="_blank">Download</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:40% ;" >Fort-Kochi</h2>
              <a href="https://www.keralatourism.org/destination/fort-kochi/422"><img src="https://www.keralatourism.org/images/ebooks/images/fort-kochi-ebrochure-thumb.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Fort Kochi, a town from the yesteryears, is a destination you wouldn’t want to miss. Once a Portuguese, Dutch and British settlement, Fort Kochi is today a major part of the city of Kochi, drawing visitors from all over the world.</p>
              <a href="https://www.keralatourism.org/destination/fort-kochi/422" style="margin-left: 10%;" class="btn btn-lg btn-success" target="_blank" >Download</a>
              <a href="https://www.keralatourism.org/destination/fort-kochi/422" class="btn btn-success btn-lg" target="_blank">View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >Kerala, Hot Spots of Adventure</h2>
              <a href="https://www.keralatourism.org/ebrochures/kerala-adventure-tourism/53"><img src="https://www.keralatourism.org/images/ebooks/images/adventure%20cover%202.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Kerala’s adventure options are unique to its landscapes. Where there is beach, you have related adventure activities. In hills, it is a charm of its own; and not to mention the serene backwaters that throw many amazing opportunities.</p>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/adventured.pdf" style="margin-left: 10%;" class="btn btn-lg btn-secondary" target="_blank" >Download</a>
              <a href="https://www.keralatourism.org/ebrochures/kerala-adventure-tourism/53/4" class="btn btn-secondary btn-lg" target="_blank" >View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >A chronicle of Kerala's Cultural Ritchness</h2>
              <a href="https://www.keralatourism.org/ebrochures/kerala-artforms/52"><img src="https://www.keralatourism.org/images/ebooks/images/artforms.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Much of Kerala’s art forms are so unique to the land’s folklores and culture. They are inspired by age-old traditions, customs, and even the diverse ways of life of the people.</p>
              <a href="https://www.keralatourism.org/images/ebooks/pdf/artforms2.pdf" style="margin-left: 10%;" class="btn btn-lg btn-primary" target="_blank">Download</a>
              <a href="https://www.keralatourism.org/ebrochures/kerala-artforms/52/4" class="btn btn-primary btn-lg" target="_blank" >View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:8% ;" >KTDC Lake Palace</h2>
              <a href="https://www.keralatourism.org/hotels/lake-palace-ktdc/2320"><img src="https://www.keralatourism.org/images/ebooks/images/lake%20palace%20(1).jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Former summer palace of erstwhile kingdom of Travancore, KTDC Lake Palace is situated in the middle of Periyar Lake and nestled inside Periyar Tiger Reserve.</p>
              <a href="https://www.tripadvisor.in/Hotel_Review-g297636-d600060-Reviews-KTDC_Lake_Palace-Thekkady_Idukki_District_Kerala.html" style="margin-left: 10%;" class="btn btn-lg btn-outline-danger" target="_blank">Download</a>
              <a href="https://www.keralatourism.org/periyar/lake-palace-periyar.php" class="btn btn-outline-danger btn-lg" target="_blank">View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:8% ;" >KTDC Aranya nivas</h2>
              <a href="https://www.keralatourism.org/hotels/aranya-nivas-ktdc/2318"><img src="https://www.keralatourism.org/images/ebooks/images/aranya-nivas%20(1).jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Standing tall on the banks of Periyar Lake inside Periyar Tiger Reserve, KTDC Aranya Nivas is a veritable accommodation facility for wildlife enthusiasts, birdwatchers and eco-tourists.</p>
              <a href="https://www.booking.com/hotel/in/aranya-nivas.html" style="margin-left: 10%;" class="btn btn-lg btn-outline-secondary" target="_blank" >Download</a>
              <a href="https://www.booking.com/hotel/in/aranya-nivas.html" class="btn btn-outline-secondary btn-lg" target="_blank" >View</a>
            </div> 
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:10% ;" >KTDC Folk Land</h2>
              <a href="https://www.ktdc.com/folk-land"><img src="https://www.keralatourism.org/images/ebooks/images/folk%20land%20(1).jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Situated at Mangattuparambu near on the Kannur-Mangalore National Highway stretch, KTDC Folk Land acts as stopover point for the pilgrimage to Parassinikadavu Sri Muthappan Temple Rajarajeshwara Temple and Kollur Sri Mookambika Temple, Udupi Shri Krishna Temple, and for the trip to Goa and Mangaluru.</p>
              <a href="https://www.makemytrip.com/hotels/ktdc_folk_land-details-talipparamba.html" style="margin-left: 10%;" class="btn btn-lg btn-outline-info" target="_blank">Download</a>
              <a href="https://www.booking.com/hotel/in/ktdc-folk-land-parassinikadavu.html" class="btn btn-outline-info btn-lg"  target="_blank">View</a>
            </div>
          </div>
          <div class="col-6">
            <div class="p-3 border bg-warning"><h2 style="color: purple;font-size: 30px;font-weight: 400;padding-left:2% ;" >KTDC Loom Land</h2>
              <a href="https://www.booking.com/hotel/in/ktdc-loom-land-kannur.html"><img src="https://www.keralatourism.org/images/ebooks/images/loom%20land1.jpg" height="170px" width="160px"></a>
              <p style="padding-left: 35%;font-size: 18px;color: black;font-weight: 300;">Located at the heart of Kannur city, KTDC Loom Land is a perfect resting place for people from all walks of life including business executives.</p>
              <a href="https://www.ktdc.com/loom-land" style="margin-left: 10%;" class="btn btn-lg btn-outline-success" target="_blank" >Download</a>
              <a href="https://www.makemytrip.com/hotels/ktdc_loom_land-details-kannur.html" class="btn btn-outline-success btn-lg" target="_blank" >View</a>
            </div>
          </div>
        </div>
      </div>

      <br><br>
    <footer style="background-color: rgb(92, 238, 238);">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>Explore</h3>
            <p>
              Classification Schemes
              Governmental Affairs
              Media Room
              Tourism Events
              Maps
              Site Map</p>
          </div>
          <div class="col">
            <h3>Travel Hub</h3>
            <p>
              Kerala at a Glance
              Travel Care
              Where to Stay
              How to?
              Travel Tips</p>
          </div>
          <div class="col">
            <h3>Nature</h3>
            <p>
              Hills
              Backwaters
              Beaches
              Wildlife
              Waterfalls</p>
          </div>
          <div class="col">
            <h3>Places</h3>
            <p>
              Munnar
              Wayanad
              Kovalam
              Periyar
              Varkala</p>
          </div>
          <div class="col">
            <h3>Specialities</h3>
            <p>
              Ayurveda
              Monsoon
              Houseboat
              Kerala Food
              Festivals</p>
          </div>
          <div class="col">
            <h3>Videos/Photos</h3>
            <p>
              Videos
              Photos
              360° Videos
              Royalty Free Photos
              Wallpapers</p>
          </div>
      </div>
    </footer>  







    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>