<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>experience kerala</title>
    <style>
        .container{
            position: relative;
            width: 50%;
            
        }
        .image {
            display: block;
            width: 50%;
            height:auto;
            box-shadow: 5px 4px 3px;
        }
        .overlay {
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            
            overflow: hidden;
            width: 50%;
            height: 0;
            transition: 0.8s ease;
            opacity: 0.8;
        }
        .container:hover .overlay {
            bottom: 0;
            height: 100%;
        }
        .travel-icons{
          list-style: none;
          padding: 0;
          text-align: center;
          margin:0 0 40px 0;
          margin-top: 4rem;
        }
        .travel-icons li i{
          display: inline-block;
          text-align: center;
          width: 100px;
          height:100px;
          padding: 20px;
          color: bisque;
          cursor: pointer;
          line-height: 40px;
          font-size: 30px;
          background-color: rgb(118, 118, 236);
          border-radius: 50%;
        }
        .travel-icons li{
          display: inline-block;
        }
        
    </style>
  </head>
  <body style="background-color: aquamarine;">
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="https://www.keralatourism.org/images/kt/kerala-tourism-title.png?d=18122017" width="auto" height="80px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="color: brown;"><b>EXPERINCE KERALA</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Plan_your_trip" style="color: blue;"><b>PLAN YOUR TRIP</b></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"   style="color:rgb(105, 7, 105)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <b>DROPDOWN</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: aquamarine;">
                  <li><a class="dropdown-item" href="/Where_to_go" style="color: black;"><b>WHERE TO GO</b></a></li>
                  <li><a class="dropdown-item" href="/Where_to_stay" style="color: red;"><b>WHERE TO STAY</b></a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/E_brochures" style="color: green;"><b>E BROCHURES</b></a></li>
                  <li><a class="dropdown-item" href="/E_Newsletter" style="color: green;"><b>E NEWSLETTER</b></a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Things_to_do" style="color: rgb(177, 158, 177);"><b>THINGS TO DO</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/About" style="color: rgb(177, 158, 177);"><b>ABOUT KERALA</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Festivals" style="color: rgb(177, 158, 177);"><b>FESTIVALS</b></a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>

      

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://webunwto.s3.eu-west-1.amazonaws.com/2019-10/Kerala.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://images.hindustantimes.com/img/2021/06/30/1600x900/Social_media_day_kerala_tourism_1625035738955_1625035751864.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://mangalamtours.com/image/packege/sub/1510642265collage.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div><br>

      <nav aria-label="breadcrumb" style="margin-left: 3%;">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/"><b>Home</b></a></li>
          <li class="breadcrumb-item active" aria-current="page"><b>Experience kerala</b></li>
        </ol>
      </nav>


      <h1 style="color: black;font-size: 50px;font-weight: 600;padding-left: 35%;"><b>EXPERINCE KERALA</b></h1><br>
      <h1 style="color: rgb(52, 9, 92);font-size: 30px;padding-left: 20px;font-weight: 400;"><b>Explore the Specialties of Kerala</b></h1><br>
    <p style="color: black;text-align: justify;font-size: 20px;font-weight: 400;margin: 1%;">Kerala is renowned for some of its unique cultural and geographical  characteristics. The practices and traditions handed down from generation to generation, alongside some of the natural wonders that we have been blessed with have attracted people to this land for centuries. From the ancient healthcare system ofAyurveda to our picturesque hill stations and diverse wildlife, we provide you with links to access a wide range of our specialities. We believe it is our duty to share these gifts with the rest of the world.  These specialities of God’s Own Country that are linked below shall be useful in narrowing the search and guiding you to your preferred destination along with providing the requisite information.<br>
        Want to go on a trip to Kerala but too lazy to plan? Just by providing a few simple details about the trip, you’ll be guided to a well planned and organized tour using our Intelligent tour planner. All your queries shall be answered here.
    </p>

      <div class="container" style="margin-left: 0.2%;">
        <img src="https://www.keralatourism.org/images/festivals/categoryimg/festival-calendar-2.jpg" alt="Festivals" class="image">
        <div class="overlay" style="background-color: rgb(153, 153, 156);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>FESTIVALS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: blue;font-style: italic;">The festival season, the pride and joy of Kerala, is epitomised by the ferocious beats of the chenda (drums) emanating across the landscape. Elephants march across towns and the rivers surge with massive 100 feet long snake boats in a display that can only be experienced in an area renowned as God's Own Country. The entire State celebrates together as the land is covered in a plethora of lights and merriment.</div>
        </div>  
      </div>

      <div class="container" style="margin-left:25.3% ; margin-top: -37%;">
        <img src="https://www.keralatourism.org/images/homecontentimage/desktop/cocnut-climbing-2.jpg" alt="village-life" class="image">
        <div class="overlay" style="background-color: rgb(245, 245, 248);">
          <div class="ovrhd" style="color: rgb(14, 11, 63);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>VILLAGE LIFE</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 4%;color: rgb(10, 10, 19);font-style: italic;">Responsible Tourism (RT) is mainly conceived with three kinds of responsibilities which are termed as the 'triple bottom-line' economic responsibility, social responsibility and environmental responsibility. Though the concept of responsible tourism was there right from 1996, it was after the Cape Town Declaration of 2002 that a detailed picture of responsible tourism - including its aims, and factors evolved.</div>
        </div>
      </div>

      <div class="container" style="margin-left:51%; margin-top:-36% ;">
        <img src="https://www.keralatourism.org/images/homecontentimage/desktop/art-form.jpg" alt="Artforms" class="image">
        <div class="overlay" style="background-color: rgb(153, 153, 156);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>ARTFORMS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(4, 32, 11);font-style: italic;">Kerala has birthed and nurtured a plethora of art forms over a thousand years. Our shores have watched them evolve and flourish in various shapes and forms. They can be divided into 4 main categories:<br>1.Performing Artforms<br>2.Ritual Art Forms Of Kerala<br>3.Martial Art<br>4.Folk Art Of Kerala
          </div>
        </div>
      </div>

      <div class="container" style="margin-left:76%; margin-top:-36%;">
        <img src="https://www.keralatourism.org/images/homecontentimage/desktop/cusine3.jpg" alt="cuisines" class="image">
        <div class="overlay" style="background-color: rgb(236, 255, 199);">
          <div class="ovrhd" style="color: rgb(14, 3, 3);font-weight: 400;font-size: 30px;padding-left: 20%;padding-top: 2%;"><b>KERALA CUISINE</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(6, 6, 49);font-style: italic;">Spices have always played an integral part of Kerala's history. Our food is an example of the very same and we have offerings for people from all over the world.  Be it famous international restaurant chains or local eateries, we have everything a foodie could ask for prepared with that special Kerala taste to it. The cuisine here caters to vegetarians and non-vegetarians alike. Let the flavours of our past and our future take you on a delightful journey.</div>
        </div>
      </div>

      <div class="container" style="margin-left:0.2%;margin-top: 2%;">
        <img src="https://www.keralatourism.org/images/homecontentimage/desktop/ayurveda3.jpg" alt="Ayurveda" class="image">
        <div class="overlay" style="background-color: rgb(253, 216, 174);">
          <div class="ovrhd" style="color: rgb(11, 63, 34);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>AYURVEDA</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(138, 18, 38);font-style: italic;">A comprehensive understanding of Ayurveda requires a detailed look at its long history, from its source to the various interpretations it has been subjected to, through the centuries. The original verses.Any sickness can be treated with a deeper understanding of our own self. Our body reacts to a large number of internal and external factors and any imbalance or impurity created by these causes illness. Equilibrium within our body is hence extremely essential. Ayurvedic texts talk about bhutas, or constituent elements of the human body, which trigger the mechanisms responsible for all bodily functions. This knowledge helps us understand the true causes of ailments, and how we can attempt to treat them.

            Ayurveda divides the governing systems of the human body into Dosha, Dhatu and Mala. It elaborates the various types of diseases, physical and mental. Finally, it also shows us how we can reverse the degradation and begin the process of healing.
            
            </div>
        </div>
      </div>

      <div class="container" style="margin-left:25.3% ; margin-top:-36%;">
        <img src="https://www.keralatourism.org/images/homecontentimage/desktop/kayakking-01.jpg" alt="Backwaters" class="image">
        <div class="overlay" style="background-color: rgb(248, 234, 103);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>BACKWATERS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(2, 2, 24);font-style: italic;">The scenic backwaters of Kerala comprise serene stretches of lakes, canals and lagoons located parallel to the coast of the Arabian Sea. The backwater regions of Kerala are one of the most popular tourist destinations in the world. The tranquil backwater cruises are a once in a lifetime experience. Alappuzha, known as the 'Venice of the East', is especially popular for its houseboat cruises where you can soak in nature at its finest form.</div>
        </div>
      </div>

      <div class="container" style="margin-left:51%; margin-top:-37%;">
        <img src="https://www.keralatourism.org/images/destination/vertical/aranmula_parthasarathy_temple20131031102238_564_1.jpg" alt="Pilgrims" class="image">
        <div class="overlay" style="background-color: rgb(153, 153, 156);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>PILGRIMS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: blue;font-style: italic;">Vadakkumnathan temple, Sabarimala Temple,Thiruvambadi Sri Krishna Temple and Paramekkavu temple, and Guruvayur Temple, Our Lady of Lourdes Syro-Malabar Catholic Metropolitan Cathedral, Thrissur Zoo, Shakthan Thampuran Palace, and Kerala Kalamandalam are the most popular tourist places in Thrissur.</div>
        </div>
      </div>

      <div class="container" style="margin-left:76% ; margin-top: -37.2%;">
        <img src="https://www.keralatourism.org/images/destination/vertical/kumbalangi_model_fishing_village_near_kochi20131031110120_353_1.jpg" alt="Tourist-Destinations" class="image">
        <div class="overlay" style="background-color: rgb(173, 125, 69);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>TOURIST-DESTINATIONS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">Kerala, a state on India's tropical Malabar Coast, has nearly 600km of Arabian Sea shoreline. It's known for its palm-lined beaches and backwaters, a network of canals. Inland are the Western Ghats, mountains whose slopes support tea, coffee and spice plantations as well as wildlife. National parks like Eravikulam and Periyar, plus Wayanad and other sanctuaries, are home to elephants, langur monkeys and tigers.</div>
        </div>
      </div>

      <div class="container" style="margin-left:0.2%;margin-top: 2%;">
        <img src="https://www.keralatourism.org/images/destination/where-to-go/beach.jpg" alt="Beaches" class="image">
        <div class="overlay" style="background-color: rgb(209, 191, 170);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>BEACHES</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">Kerala is home to a number of spectacular beaches that will take your breath away. As Kerala is a coastal state, some of the most popular tourist destinations in Kerala are beaches like Kovalam, Varkala, Chowara, Chavakkad, Nattika, Cherai, Kizhunna, Poovar and the list goes on and on. The Kerala coast is replete with exotic resorts and hotels where travellers..</div>
        </div>
      </div>

      <div class="container" style="margin-left:26% ; margin-top: -30.2%;">
        <img src="https://www.keralatourism.org/images/destination/where-to-go/monuments.jpg" alt="Mounments" class="image">
        <div class="overlay" style="background-color: rgb(181, 238, 169);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>MONUMENTS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">Kerala monuments are relics of a past that the state is extremely proud of. These indicate some of the finest gifts left for us by the ancestors. They are storehouses of information and contain stories regarding the glorious history of Kerala. They stand as proud testaments of our architectural prowess.</div>
        </div>
      </div>

      <div class="container" style="margin-left:51%; margin-top: -30.2%;">
        <img src="https://www.keralatourism.org/images/destination/where-to-go/forts.jpg" alt="Forts & places" class="image">
        <div class="overlay" style="background-color: rgb(150, 199, 87);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>FORTS & PLACES</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">Kerala has had a long line of rulers and armies that have shaped the culture and architecture of the State over centuries. Many of the prominent forts and palaces still exist to this day as a reminder of a bygone era. Listed below are all the historical forts and palaces that warrant a visit.</div>
        </div>
      </div>

      <div class="container" style="margin-left:76% ; margin-top: -30.2%;">
        <img src="https://www.keralatourism.org/images/destination/where-to-go/places-of-interest.jpg" alt="Places of interest" class="image">
        <div class="overlay" style="background-color: rgb(119, 200, 247);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>PLACES OF INTEREST</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">The cultural and artistic lessons that have been passed down are of utmost importance to us. It is our heritage and hence across the state we have centers built to honor and preserve these traditions. From the Stone Age carvings of Edakkal caves to Kalamandalam, a University for performing arts, the teachings of our elders still thrive in modern day Kerala. Their gifts to us shall never be forgotten and each new generation adds its own input to the same.</div>
        </div>
      </div>

      <div class="container" style="margin-left:0.2% ; margin-top:2%;">
        <img src="https://www.keralatourism.org/images/destination/where-to-go/museum.jpg" alt="Museums" class="image">
        <div class="overlay" style="background-color: rgb(173, 125, 69);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>MUSEUMS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">Museums are storehouses of not just our history but also a treasure trove of information regarding the various events and mechanisms that led us to this point in time. They have with them teachings, information and even warnings at times which are of great significance to the future generations</div>
        </div>
      </div>

      <div class="container" style="margin-left:25% ; margin-top: -30.2%;">
        <img src="https://www.keralatourism.org/images/destination/where-to-go/hill-station.jpg" alt="Hills" class="image">
        <div class="overlay" style="background-color: rgb(178, 177, 240);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>HILLS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">Kerala brings to you a magical tryst with nature through its various hills and hill stations. A majority of these places in Kerala are situated on the windward side of the majestic Western Ghats. Enjoy the long chain of lush mist-clad hill stations of Kerala and explore the various plantations, wildlife, flora and fauna that comprise an integral part of this experience.</div>
        </div>
      </div>

      <div class="container" style="margin-left:51% ; margin-top: -30.2%;">
        <img src="https://www.keralatourism.org/images/destination/where-to-go/waterfalls.jpg" alt="Water falls" class="image">
        <div class="overlay" style="background-color: rgb(144, 248, 213);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>WATER FALLS</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">Kerala is popular for having numerous majestic waterfalls. These scintillating cascades are famous picnic spots and excursion destinations round the year. The luscious Kerala waterfalls are a sight your eyes will never tire of feasting upon.</div>
        </div>
      </div>

      <div class="container" style="margin-left:76% ; margin-top: -30.2%;">
        <img src="https://www.keralatourism.org/images/destination/where-to-go/wildlife.jpg" alt="Wildlife" class="image">
        <div class="overlay" style="background-color: rgb(136, 160, 113);">
          <div class="ovrhd" style="color: rgb(63, 11, 11);font-weight: 400;font-size: 30px;padding-left: 25%;padding-top: 2%;"><b>WILDLIFE</b></div>
          <div class="text" style="font-size: 20px;font-weight: 400;padding-left: 2%;color: rgb(128, 13, 13);font-style: italic;">There are a number of popular wildlife sanctuaries in Kerala housing exotic and rare species of flora and fauna. Nestled in the elaborate forest of the majestic Western Ghats or Sahyadri Ranges in Kerala are  fourteen wildlife sanctuaries and two tiger reserves. Kerala also has six national parks containing protected and endangered species like the Indian Sloth-Bear, Lion-Tailed Macaque, Indian Bison, Bengal Tiger, Nilgiri Tahr etc</div>
        </div>
      </div>
      
    <br>
    <iframe width="600" style="margin-left: 1%;margin-top: 2%;" height="315" src="https://www.youtube.com/embed/Z0xmIY5zAjA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="580" style="margin-left: 52%;margin-top: -28%;" height="315" src="https://www.youtube.com/embed/3SMftp-89r0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <br><br>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>