<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>experience kerala</title>
    <style>
      .more li a{
        text-decoration: none;
        font-size: 20px;
        color: rgb(97, 12, 12);
        font-weight: 400;
      }
      .kt-btn{
        text-decoration: none;
        background-color: rgb(9, 9, 72);
        color:whitesmoke;
        width: 10%;
        height: 7%;
        border:1px solid black;
      }
    </style>
  </head>
  <body style="background-color: rgb(72, 184, 139);">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="https://www.keralatourism.org/images/kt/kerala-tourism-title.png?d=18122017" width="auto" height="80px"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Experience_kerala" style="color: brown;"><b>EXPERINCE KERALA</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Plan_your_trip" style="color: blue;"><b>PLAN YOUR TRIP</b></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"  style="color:rgb(105, 7, 105)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                   <b>DROPDOWN</b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color: aquamarine;">
                  <li><a class="dropdown-item" href="/Where_to_go" style="color: black;"><b>WHERE TO GO</b></a></li>
                  <li><a class="dropdown-item" href="/Where_to_stay" style="color: red;"><b>WHERE TO STAY</b></a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/E_brochures" style="color: green;"><b>E BROCHURES</b></a></li>
                  <li><a class="dropdown-item" href="/E_Newsletter" style="color: green;"><b>E NEWSLETTER</b></a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" style="color: rgb(182, 174, 69);"><b>THINGS TO DO</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/About" style="color: rgb(182, 174, 69);"><b>ABOUT KERALA</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/Festivals" style="color: rgb(182, 174, 69);"><b>FESTIVALS</b></a>
              </li>
            </ul>
            
          </div>
        </div>
      </nav>
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://www.keralatourism.org/sabarimala/images/sabarimala.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Lakshadeepam_at_Sree_Padamanabhaswamy_Temple_2330.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Melam_percussion_ensemble_1647.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Pulikali_58.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Boat_races_of_Kerala_1678.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Arattupuzha_Pooram_1878.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Pakal_Pooram_Thrissur_1683.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Pulikali_during_Onam_festival_celebrations_in_Kerala_2634.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Athachamayam_festival_at_Tripunithura_2648.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Caparisoned_elephants_and_energetic_crowd_at_Thrissur_Pooram_celebrations_2649.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Sunset_from_Keerippara_Silent_Valley_National_Park_Eco_tourism_destinations_in_Kerala_Trekkin_1897.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://www.keralatourism.org/images/picture/large/Rich_swathe_of_greenery_Pampadum_Shola_National_Park_1888.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <h1 style="color: rgb(226, 92, 92);font-size: 50px;font-weight: 600;padding-left: 35%;font-family: Arial, Helvetica, sans-serif;"><b>THINGS TO DO</b></h1>
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="https://www.keralatourism.org/topic/heritage"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/Heritage-Tournov.jpg" width="350px" height="200px" class="image"></a>
            <h2 style="font-size:20px;color:rgb(253, 251, 248);font-weight:500;margin-top:-10%;margin-left: 18%;">Heritage Tour</h2>
          </div>
          <div class="col">
            <a href="https://wanderon.in/blogs/top-spots-for-scuba-diving-in-kerala"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/scubanov.jpg" width="350px" height="200px" class="image"></a>
            <h2 style="font-size:20px;color:whitesmoke;font-weight:500;margin-top:-10%;margin-left: 18%;">Scuba Diving</h2>
          </div>
          <div class="col">
            <a href="https://www.tripadvisor.in/Attractions-g297631-Activities-c61-t192-Kerala.html"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/parasailingnov.jpg" width="350px" height="200px" class="image"></a>
            <h2 style="font-size:20px;color:whitesmoke;font-weight:500;margin-top:-10%;margin-left: 18%;">Parasailing</h2>
          </div>
          <div class="col" style="margin-top: 2%;">
            <a href="https://irisholidays.com/keralatourism/trekking-places-in-kerala/"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/Trekking.jpg" width="350px" height="200px" class="image"></a>
            <h2 style="font-size:20px;color:whitesmoke;font-weight:500;margin-top:-10%;margin-left: 18%;">Trekking</h2>
          </div>
          <div class="col" style="margin-top: 2%;">
            <a href="https://www.keralatourism.org/camping-in-kerala"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/Camping.jpg" width="350px" height="200px" class="image"></a>
            <h2 style="font-size:20px;color:whitesmoke;font-weight:500;margin-top:-10%;margin-left: 18%;">Camping</h2>
          </div>
          <div class="col" style="margin-top: 2%;">
            <a href="https://www.keralatourism.org/newsletter/news/2022/ksrtc-double-decker/2073"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/city-ride.jpg" width="350px" height="200px" class="image"></a>
            <h2 style="font-size:20px;color:whitesmoke;font-weight:500;margin-top:-10%;margin-left: 18%;">KSRTC City Drive</h2>
          </div>
          
        </div>
        <br><br>
        <p style="padding-left: 2%;font-size: 20px;font-weight: 400;text-align: justify;color: black;">Let the lazy backwaters set pace to your day and village folksongs croon to your heart. Let the clarion call of the jungles awaken the wilderness in you. Bathe elephants. Discover remote festivals that leave imprints on your soul. Take your taste buds on rides through flavours they never dreamt existed. Camp in the woods lying awake listening to the symphony of Nature at night and early in the morning let the mountain mists awake you with whispered tales of long forgotten travellers...</p>
        <br>
        <div class="card" style="width: 18rem;">
          <a href="https://www.touracle.in/walk-through-the-woods/"><img src="https://www.keralatourism.org/images/kt/things-to-do/thumb/things-to-do-adventure-tourism.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(219, 62, 62);font-weight: 700;font-style: italic;">Walk through the woods</h5>
            <p class="card-text" style="font-weight: 500;text-align: justify;font-style: italic;">Explore the ecotourism packages in Kerala developed by Kerala Forest Department with the active support and involvement of the local community.</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;margin-top: -33%;margin-left: 30%;">
          <a href="https://www.keralatourism.org/ayurveda/rejuvenation-therapy"><img src="https://www.keralatourism.org/images/kt/things-to-do/thumb/things-to-do-ayurveda.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(219, 62, 62);font-weight: 700;font-style: italic;">Rejuvenate through Ayurveda</h5>
            <p class="card-text" style="font-weight: 500;text-align: justify;font-style: italic;">Energize your cells and rejuvenate your body and mind through Ayurvedic and Panchakarma treatments. Click here to contact the practitioners and know the Ayurvedic packages.</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;margin-top: -37%;margin-left: 60%;">
          <a href="https://www.keralatourism.org/houseboat/"><img src="https://www.keralatourism.org/images/kt/things-to-do/thumb/things-to-do-kettuvallam.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(219, 62, 62);font-weight: 700;font-style: italic;">Cruise in Houseboat</h5>
            <p class="card-text" style="font-weight: 500;text-align: justify;font-style: italic;">Cruise through the placid backwaters of Kerala in houseboats and get a blissful experience. To get the details of houseboats and pre book your cruise, do contact the DTPCs or Accredited Houseboat Operators.</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;margin-top:5%;">
          <a href="https://www.keralatourism.org/responsible-tourism/village-life-experience/12"><img src="https://www.keralatourism.org/images/kt/things-to-do/thumb/things-to-do-village-life.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(219, 62, 62);font-weight: 700;font-style: italic;">Experience Village Life</h5>
            <p class="card-text" style="font-weight: 500;text-align: justify;font-style: italic;">A symphony composed on the strings of beauty and a land endowed with a myriad of boons and bounties, the rural life in Kerala, untouched by the mighty hands of industrialization and much of the repulsive transformation of urban sophistication, offers a taste of delight to travellers. To know more</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;margin-top: -42%;margin-left: 30%;">
          <a href="https://spicetreemunnar.com/experience-the-vibrant-culture-of-kerala-a-guide-to-the-top-festivals-in-the-state/"><img src="https://www.keralatourism.org/images/kt/things-to-do/thumb/things-to-do-festival.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(219, 62, 62);font-weight: 700;font-style: italic;">Witness Vibrant Festivals</h5>
            <p class="card-text" style="font-weight: 500;text-align: justify;font-style: italic;">Festivals are the true celebrations in God's Own Country; occasions when grandeur prevails over the characteristic simplicity of the Kerala lifestyle. The festival dates may change in accordance with local customs and traditions. To arrange your trip accordingly, you may organize it with the help of tour operators. You can check the festival calendar.</p>
            <a href="#" class="card-link"></a>
          </div>
        </div>

        <div class="card" style="width: 18rem;margin-top: -45%;margin-left: 60%;">
          <a href="https://www.keralatourism.org/kerala-article/2015/onasadya-kerala/553#:~:text=The%20Sadya%20is%20the%20traditional,left%20of%20the%20seated%20guest."><img src="https://www.keralatourism.org/images/kt/things-to-do/sadya-22.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title"style="color: rgb(219, 62, 62);font-weight: 700;font-style: italic;">Feast on Sadya</h5>
            <p class="card-text" style="font-weight: 500;text-align: justify;font-style: italic;">Sadya is an elaborate mouth-watering feast of Kerala, usually served on a banana leaf with the number of side dishes ranging from 16 to 60. When you are in Kerala, if you wish to taste it, please contact your tour operators and experience a delicious Sadya!</p>
            <a href="#" class="card-link"></a>
          </div>
        </div>

        <div class="card" style="width: 18rem;margin-top:10%;">
          <a href="https://www.tripadvisor.in/Attractions-g297631-Activities-zft12163-Kerala.html"><img src="https://www.keralatourism.org/images/kt/things-to-do/adventure-tour-operators.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(219, 62, 62);font-weight: 700;font-style: italic;">Go for the Adventure</h5>
            <p class="card-text" style="font-weight: 500;text-align: justify;font-style: italic;">Geographically blessed with a variety of virtues that are ideal for adventure sports and events, Kerala is fast emerging as a destination for adventure tourism. There are a host of Adventure Tourism Operators in Kerala who are accredited by Kerala Adventure Tourism Promotion Society (KATPS). They offer an exciting array of activities such as Canoeing, Mountain Biking, High-Rope Courses, Kayaking, Nature Walk, Paragliding, Scuba Diving, Tent Camping, Trekking and Zip Line.</p>
            <a href="#" class="card-link"></a>
          </div>
        </div>

        <div class="card" style="width: 18rem;margin-top: -56%;margin-left: 30%;">
          <a href="https://traveltriangle.com/blog/tree-houses-in-kerala/"><img src="https://www.keralatourism.org/images/kt/things-to-do/go-camping.jpg" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title" style="color: rgb(219, 62, 62);font-weight: 700;font-style: italic;">Stay in the Lap of Nature</h5>
            <p class="card-text" style="font-weight: 500;text-align: justify;font-style: italic;">Knowing a land is about experiencing its soul. Often, the soul of a destination isn't what you see in the first glimpse. One will need to go deep into its heart, explore the hidden gems that the destinations hold within and live close to those unique sights and sounds in order to comprehend a land in its fullness. That is why you need to go camping. Check out the destinations to stay close to nature.</p>
            <a href="#" class="card-link"></a>
          </div>
        </div>
        <br><br>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" style="width: 560px;height: 800px; margin-left: 57%;margin-top: -58%;">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.keralatourism.org/images/destination/thumb/kollam20140624115041_587_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.keralatourism.org/images/destination/thumb/muzhappilangad_beach20131031111324_85_1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://www.keralatourism.org/images/destination/thumb/kovalam20131031105847_236_1.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
         
        
        <iframe width="540" style="margin-left: 57%;margin-top:-40%;" height="315" src="https://www.youtube.com/embed/sXSKhWHEhqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       
        <br>

      <h1 style="padding-left: 10%;font-size: 40px;font-weight: 800;font-family: Arial, Helvetica, sans-serif;color: purple;">Explore Photo Gallery</h1>
      <br>
      <div class="container">
        <div class="row row-cols-2 row-cols-lg-3">
          <div class="col-4 col-lg-2">
            <a href="https://www.tripadvisor.in/Attractions-g297631-Activities-c61-t52-Kerala.html"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/beach.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Beaches</h2>

          </div>
          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/photo-gallery/kerala-panorama"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/panorama.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -35%;margin-left: 20%;color: whitesmoke;font-size: 20px;font-weight: 400;">Kerala panorama</h2>

          </div>
          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/destination/pilgrim-centres/"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/img-3.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -35%;margin-left: 20%;color: whitesmoke;font-size: 20px;font-weight: 400;">Pilgrim Centres</h2>

          </div>
          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/artforms/"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/artform-6.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Artforms</h2>

          </div>

          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/event/#:~:text=The%20entire%20State%20celebrates%20the,and%20essence%2C%20of%20the%20land."><img src="https://www.keralatourism.org/images/homecontentimage/desktop/festivals-1.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Festivals</h2>
          </div>

          <div class="col-4 col-lg-2">
            <a href="https://www.thrillophilia.com/places-to-visit-in-kerala"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/places-of-interest1.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -35%;margin-left: 20%;color: whitesmoke;font-size: 20px;font-weight: 400;">Places of interest</h2>
          </div>
        </div><br>
        <div class="row row-cols-2 row-cols-lg-3">
          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/destination/waterfalls/"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/waterfall.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Waterfalls</h2>
          </div>
          <div class="col-4 col-lg-2">
            <a href="https://medium.com/@paradiseholidays/12-popular-and-outstanding-historical-monuments-of-kerala-45a9a8be07ab"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/places-of-interest.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Mounments</h2>
          </div>
          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/destination/wildlife/"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/wild-life-2.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Wildlife</h2>
          </div>
          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/destination/hills/"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/hill-5.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Hills</h2>
          </div>
          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/highresolutionimages/ayurveda/"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/img-11.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Ayurveda</h2>
          </div>
          <div class="col-4 col-lg-2">
            <a href="https://www.keralatourism.org/destination/backwater/"><img src="https://www.keralatourism.org/images/homecontentimage/desktop/Backwater-kasargod_004.jpg" width="182" height="200"></a>
            <h2 style="margin-top: -20%;margin-left: 40%;color: whitesmoke;font-size: 20px;font-weight: 400;">Backwaters</h2>
          </div>
        </div>
      </div>
    <br><br>
      <div class="container" style="width: 100%; max-width: 1600px;background-color: azure;">
        <div class="row">
          <div class="col-md-12 section-head">
            <h2 style="padding-left: 40%;"><b>What's New</b></h2>
            <span class="sub-head"></span><hr></div>
            <div class="col-md-12 wall1" style="margin-left: 10%;">
              <div class="col-md-4 col-md-offset-2">
                <ul class="more">
                <li><a href="http://www.keralatourism.gov.in/documents/life0guardsn.pdf" target="_blank">Applications invited for lifeguard vacancies at beaches in Thiruvananthapuram and Ernakulam</a></li><li><a href="https://www.keralatourism.org/international-meets" target="_blank">International B2B Meets 2023 | Register Now</a></li><li><a href="https://www.keralatourism.org/articlesonkerala/07_10_202220221007122436_1.pdf" target="_blank">Kerala Tourism bags PATA Gold Award for its marketing campaign</a></li>            
                </ul>
              </div>
              <div class="col-md-4" style="margin-left: 40%;margin-top: -20%;">
                <ul class="more">
                <li><a href="https://www.keralatourism.org/domestic-meets-phase-two/" target="_blank">Domestic Partnership Meets 2022-23 Phase II | Register Now</a></li><li><a href="https://www.keralatourism.org/international-fairs-meets/" target="_blank">International Trade Fairs 2023</a></li>            
                </ul>
              </div>   
          </div>
          <div class="find-more text-center" style="margin-top: 10%;"> <a href="https://www.keralatourism.org/latestnews/" class="kt-btn">MORE NEWS> &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a> </div>
        </div>
      </div>
    <br>
    <form class="row p-4 col-12" style="background-color: antiquewhite;">
      <div class="col-md-4">
        <h3 class="form-h3" style="margin: 0.8em 0;">Search for Accommadation</h3>
      </div>
      <div class="col-md-6">
        <input type="password" class="form-control" id="inputpassword2" placeholder="Enter keyword">
      </div>
      <div class="col-md-2">
        <button type="submit" style="width: 140px;height: 35px;padding-top: 5px;" class="btn btn-info btn-md mb-3">
        <i class="fa-solid fa-magnifying-glass"></i> SEARCH </button>
      </div>
    
    </form><br><br>
    
    
    
    
      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>